*{
	margin: 0
}

html,body{
	max-width: 100%;
	overflow-x: hidden;
}

body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.title{
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-left: 5%;
	z-index: -1;
}

.opener img{
	width: 100%;
	height: 900px;
	margin-top: 20%;
}

.info{
	margin-top: -1%;
}
.details{
	display: none;
}
.details:hover{
	cursor: pointer;
}
.info #bio{
	font-size: 22px;
	font-family: 'Arimo', sans-serif;
	float: left;
	display: inline;
	width: 60%;
	background-color: #FAFAFA;
	border: solid 1px #979797;
}

#bio p{
	width: 600px;
	padding: 80px 80px 80px 80px;
}
#stats{
	display: inline;
	font-family: 'Roboto', sans-serif;
	float: left;
	padding: 55px 120px 55px 120px;
	background-color: #F5F5F5;
	border: solid 1px #979797;
	height: 336px;
	width: 20.9%;
}
#stats #first{
	font-size: 20px;
}
#stats #second{
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 50px;
}

.content{
	margin-top: 45%;
}
.content #one{
	width: 800px;
	margin-left: 20%;
}
.content #two,
.content #three{
	padding-top: 50px;
	width: 100%;
	height: 700px;
	display: inline;
	float: left;
}

.content #four{
	width: 100%;
	height: 700px;
	margin-top: 50px;
	padding-bottom: 60px;
	padding-bottom: 60px;
}


.footer{
	color: white;
	font-size: 17px;
	background-color: black;
	width: 100%;
	height: 40px;
	cursor: pointer;
	z-index: 4;
	position: fixed;
	bottom: 0;
}
.footer p{
	display: inline-block;
	margin-top: 11px;
	margin-left: 20px;
}
.footer .line{
	margin-left: 35px;
}
.footer a{
	text-decoration: none;
	color: white;
	margin-left: 30px;
}


@media only screen and (width: 1920px){
	.opener img{
		height: 1100px;
	}
	.info #bio{
		width: 66.3%;
		height: 498px;
	}
	#bio p{
		width: 1100px;
		padding: 80px 80px 80px 80px;
		font-size: 28px;
	}
	#stats{
		height: 388px;
	}

	.content #one{
		width: 1100px;
		margin-left: 22%;
	}
	.content #two,
	.content #three,
	.content #four{
		height: 1000px;
	}
}

@media only screen and (width: 1440px){
	#stats{
		width: 23%;
	}

	.content #one{
		margin-left: 22.5%;
	}
	.content #two,
	.content #three,
	.content #four{
		height: 800px;
	}
}

@media only screen and (width: 1366px){
	#stats{
		width: 22.12%;
	}
	.content #one{
		margin-left: 22%;
	}
	.content #two,
	.content #three,
	.content #four{
		height: 800px;
	}
}

@media only screen and (width: 1080px){
	.info #bio{
		width: 736px;
		height: 520px;
	}
	.info #stats{
		width: 100px;
		height: 410px;
	}
	.info #stats p{
		width: 200px;
		margin-left: -40px;
	}
	.content #one{
		margin-top: 5%;
		margin-left: 15%;
	}
}

@media only screen and (width: 1024px){
	.opener img{
		height: 700px;
	}
	.info #bio{
		width: 687.5px;
		height: 510px;
	}
	.info #bio p{
		width: 550px;
	}
	.info #stats{
		padding: 55px 68px 55px 50px;
		height: 400px;
	}
	.content #one{
		margin-top: 5%;
		margin-left: 12%;
	}
	.content #two,
	.content #three{
		height: 500px;
		width: 100%;
	}
}

@media only screen and (max-width: 736px){
	.title{
		margin-left: 7%;
	}
	.opener img{
		height: 500px;
	}
	.info #bio{
		width: 460px;
		height: 457px;
	}
	.info #bio p{
		width: 380px;
		font-size: 18px;
		padding: 40px 0px 40px 40px;
	}
	.info #stats{
		height: 347px;
		padding: 55px 68px 55px 50px;
	}
	#stats #first{
		font-size: 16px;
	}
	#stats #second{
		font-size: 18px;
	}

	.content #one{
		width: 600px;
		margin-left: 10%;
		margin-top: 10%;
	}
	.content #two,
	.content #three{
		width: 100%;
		height: 500px;
	}
}

@media only screen and (width: 667px){
	.title{
		margin-left: 8%;
	}
	.info #bio{
		width: 405px;
	}
	.info #bio p{
		font-size: 17px;
		width: 340px;
	}
	.info #stats{
		height: 347px;
	}

	.content #one{
		margin-left: 6%;
	}
}

@media only screen and (width: 568px){
	.title{
		margin-left: 9%;
	}
	.info #bio{
		width: 371px;
		height: 542px;
	}
	.info #bio p{
		width: 300px;
	}
	.info #stats{
		width: 75px;
		height: 432px;
	}

	.content #one{
		margin-left: 7%;
		width: 500px;
	}
}

@media only screen and (max-width: 414px){
	.title{
		padding-top: 15%;
		font-size: 25px;
		margin-left: 10%;
	}
	.opener img{
		margin-top: 25%;
		width: 100%;
		height: 400px;
	}
	.details{
		display: block;
		font-size: 20px;
		width: 100%;
		width: 414px;
		padding-left: 30%;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #ECEFF1;
	}
	.info #bio, .info #stats{
		display: none;
	}

	.info #bio{
		border: none;
		font-size: 20px;
	}
	#bio p{
		width: 350px !important;
		padding: 25px 0px 25px 25px;
	}
	.info #stats{
		width: 100%;
		padding: 20px 0px 0px 30px;
		height: 300px;
		border-left: none;
	}
	#stats #first{
		font-size: 18px;
	}
	#stats #second{
		padding-bottom: 20px;
		font-size: 20px;
	}

	.content{
		margin-top: 20%;
	}
	.content #one{
		width: 100%;
		margin-left: 0%;
	}
	.content #two,
	.content #three{
		width: 100%;
	}
	.content #four{
		height: 500px;
	}

	.footer{
		font-size: 16px;
	}
	.footer .line{
		margin-left: 15px;
	}
	.footer a{
		margin-left: 0px;
	}
}

@media only screen and (width: 375px){
	.title{
		margin-left: 15%;
		margin-top: 5px;
		font-size: 18px;
	}

	.details{
		padding-left: 30%;
	}
	#bio p{
		width: 300px !important;
	}
}

@media only screen and (width: 320px){
	.title{
		font-size: 18px;
		margin-top: 5px;
		margin-left: 16%;
	}

	.opener img{
		height: 300px;
	}
	.details{
		padding-left: 25%;
	}
	
	#bio p{
		width: 250px !important;
	}
	.info #stats{
		margin-top: 100px;
	}

	.content #two,
	.content #three{
		height: 300px;
	}
	.content #four{
		height: 400px;
	}
}


























