* {
	margin: 0
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.title{
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-left: 5%;
	z-index: -1;
}

.opener img{
	width: 100%;
	height: 1000px;
	margin-top: 20%;
}

.info{
	margin-top: -1%;
	width: 100%;
}
.details{
	display: none;
}
.details:hover{
	cursor: pointer;
}
.info #bio{
	font-size: 22px;
	font-family: 'Arimo', sans-serif;
	float: left;
	display: inline;
	width: 60%;
	background-color: #FAFAFA;
	border: solid 1px #979797;
}

#bio p{
	width: 600px;
	padding: 80px 80px 80px 80px;
}
#stats{
	display: inline;
	font-family: 'Roboto', sans-serif;
	float: left;
	padding: 55px 120px 55px 120px;
	background-color: #F5F5F5;
	border: solid 1px #979797;
	height: 440px;
	width: 20.9%;
}
#stats #first{
	font-size: 20px;
}
#stats #second{
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 50px;
}
.content{
	margin-top: 60%;
}
.content #one{
	width: 700px;
	height: 800px;
	margin-left: 20%;
}
.content #two{
	width: 90%;
	height: 1000px;
	margin-top: 50px;
	margin-left: 5%;
}
.content #three,
.content #four{
	width: 550px;
	height: 800px;
	display: inline;
	margin-left: 50px;
	padding-top: 50px;
}
.content #four{
	float: right;
	margin-right: 50px;
}
.content #five{
	padding-top: 50px;
	width: 100%;
	height: 750px;
	padding-bottom: 60px;
}

.slide {
	z-index: -3;
  position: relative;
  margin-top: 80px
}

.slide img {
  width: 100%;
  height: 700px;
  position: absolute;
  left: 0;
  /*z-index: 3;*/
  -webkit-animation: slideshow 12s linear 0s infinite;
  -moz-animation: slideshow 12s linear 0s infinite;
  -ms-animation: slideshow 12s linear 0s infinite;
  -o-animation: slideshow 12s linear 0s infinite;
  animation: slideshow 12s linear 0s infinite;
}


.footer {
  color: white;
  font-size: 17px;
  background-color: black;
  width: 100%;
  height: 40px;
  cursor: pointer
  z-index: 5 !important;
  position: fixed;
  bottom: 0;
}

.footer p {
  display: inline-block;
  margin-top: 11px;
  margin-left: 20px
}

.footer .line {
	margin-left: 35px;
}

.footer a {
  text-decoration: none;
  color: white;
  margin-left: 40px;
}

@media only screen and (width: 1920px){
	.info #bio{
		width: 66.3%;
		height: 600px;
	}
	#bio p{
		width: 1100px;
		padding: 80px 80px 80px 80px;
		font-size: 28px;
	}
	.info #stats{
		height: 490px;
	}
	.content #one{
		margin-top: -20%;
		margin-left: 25%;
		width: 900px;
		height: 1000px;
	}
	.content #two{
		height: 1200px;
	}
	.content #three, 
	.content #four{
		width: 800px;
		height: 1000px;
	}
	.content #five{
		height: 1200px;
	}
	.slide img{
		height: 1200px;
	}
	.footer{
		z-index: 3
	}
}

@media only screen and (width: 1440px){
	#stats{
		width: 23%;
	}
	.content #one{
		margin-left: 25%;
		margin-top: -10%;
	}
	.footer{
		z-index: 4;
	}
}

@media only screen and (width: 1366px){
	#stats{
	width: 22.1%;
	}

	.content #one{
		margin-left: 25%;
	}
}

@media only screen and (width: 1080px){
	.info #bio{
		width: 736px; 
	}
	.info #stats{
		width: 100px;
	}
	.content #one{
		margin-left: 17%;
	}
	.content #three{
		margin-left: 25%;
	}
	.content #four{
		margin-right: 24%;
	}
}

@media only screen and (width: 1024px){
	.opener img{
		height: 900px;
	}
	.info #bio{
		width: 687.5px;
	}
	.info #bio p{
		width: 550px;
	}
	.info #stats{
		padding: 55px 68px 55px 50px;	
		height: 492px;
	}

	.content #one{
		margin-top: 5%;
		margin-left: 15%;
	}
	.content #two{
		height: 900px;
	}
	.content #three{
		margin-left: 23%;
	}
	.content #four{
		margin-right: 23%;
	}
}

@media only screen and (max-width: 736px){
	.opener img{
		height: 500px;
	}
	.info #bio{
		width: 460px;
	}
	.info #bio p{
		width: 380px;
		font-size: 18px;
		padding: 40px 0px 40px 40px;
	}
	.info #stats{
		height: 411px;
		padding: 55px 68px 55px 50px;
	}
	#stats #first{
		font-size: 16px;
	}
	#stats #second{
		font-size: 18px;
	}

	.content #one{
		margin-top: 10%;
		margin-left: 2.5%;
		height: 700px;
	}
	.content #two{
		height: 600px;
	}
	.content #three{
		margin-left: 13%;
	}
	.content #four{
		margin-right: 12.5%; 
	}
	.content #five{
		height: 500px;
	}
	.slide img{
		height: 500px;
	}
}

@media only screen and (max-width: 667px){
	.info #bio{
		width: 405px;
	}
	.info #bio p{
		font-size: 17px;
		width: 340px;
	}
	.content #three{
		margin-left: 9%;
	}
	.content #four{
		margin-right: 8.5%;
	}
	.content #five{
		height: 400px;
	}
	.slide{
		height: 400px;
	}
}

@media only screen and (width: 568px){
	.info #bio{
		width: 371px;
	}
	.info #bio p{
		width: 300px;
	}
	.info #stats{
		width: 75px;
		height: 470px;
	}

	.content #one{
		margin-left: 6%;
		width: 500px;
	}
	.content #three{
		width: 500px;
		margin-left: 6%;
	}
	.content #four{
		width: 500px;
		margin-right: 5.5%;
	}
}

@media only screen and (max-width: 414px){
	.title{
		padding-top: 15%;
		font-size: 25px;
		margin-left: 10%;
	}
	.opener img{
		margin-top: 25%;
		width: 100%;
		height: 700px;
	}
	.details{
		display: block;
		font-size: 20px;
		width: 100%;
		width: 414px;
		padding-left: 30%;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #ECEFF1;
	}
	.info #bio, .info #stats{
		display: none;
	}
	.info #bio{
		border: none;
		font-size: 20px;
	}
	#bio p{
		width: 350px !important;
		padding: 25px 0px 25px 25px;
	}
	.info #stats{
		width: 100%;
		padding: 20px 0px 0px 30px;
		height: 300px;
		border-left: none;
	}
	#stats #first{
		font-size: 18px !important;
	}
	#stats #second{
		padding-bottom: 20px !important;
		font-size: 20px !important;
	}

	.content{
		margin-top: 20%;
	}
	.content #one{
		width: 100%;
		margin-left: 0%;
		height: 600px;
	}
	.content #two{
		height: 300px;
	}
	.content #three,
	.content #four{
		width: 100%;
		height: 500px;
		display: inline;
		margin-left: 00px;
		padding-top: 50px;
	}
	.content #four{
		float: right;
		margin-right: 0px;
	}
	.content #five{
		padding-top: 50px;
		width: 100%;
		height: 400px;
	}
	.slide{
		margin-top: 20px;
	}
	.slide img{
		height: 400px;
	}
	.footer{
		width: 100%;
	}
}

@media only screen and (width: 375px){
	.title{
		margin-left: 15%;
		font-size: 20px;
	}
	.opener img{
		height: 600px;
	}
	#bio p{
		width: 300px !important;
	}
	.footer a{
		margin-left: 20px;
	}
}

@media only screen and (width: 320px){
	.title{
		font-size: 18px;
		margin-top: 5px;
		margin-left: 13%;
	}
	.opener img{
		height: 500px;
	}
	.details{
		padding-left: 25%;
	}

	#bio p{
		width: 250px !important;
	}

	.content #two{
		height: 250px;
	}

	.footer p{
		margin-left: 10px;
	}
	.footer .line{
		margin-left: 20px;
	}
	.footer a{
		margin-left: 0px;
	}
}







.slide img:nth-child(2) {
  z-index: 2;
  -webkit-animation: slideshow 12s linear 4s infinite;
  -moz-animation: slideshow 12s linear 4s infinite;
  -ms-animation: slideshow 12s linear 4s infinite;
  -o-animation: slideshow 12s linear 4s infinite;
  animation: slideshow 12s linear 4s infinite;
}

.slide img:nth-child(3) {
  z-index: 1;
  -webkit-animation: slideshow 12s linear 8s infinite;
  -moz-animation: slideshow 12s linear 8s infinite;
  -ms-animation: slideshow 12s linear 8s infinite;
  -o-animation: slideshow 12s linear 8s infinite;
  animation: slideshow 12s linear 8s infinite;
}

@-webkit-keyframes slideshow{
	25%{
		opacity: 1;
	}
	33.33%{
		opacity: 0;
	}
	91.66%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-moz-keyframes slideshow{
	25%{
		opacity: 1;
	}
	33.33%{
		opacity: 0;
	}
	91.66%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-ms-keyframes slideshow{
	25%{
		opacity: 1;
	}
	33.33%{
		opacity: 0;
	}
	91.66%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-o-keyframes slideshow{
	25%{
		opacity: 1;
	}
	33.33%{
		opacity: 0;
	}
	91.66%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes slideshow{
	25%{
		opacity: 1;
	}
	33.33%{
		opacity: 0;
	}
	91.66%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}







